# # Игнорировать временные файлы Visual Studio, результаты сборки и
# # файлы, созданные популярными надстройками Visual Studio.

# Пользовательские файлы 
.suo
* .пользователь
* .sln.docstates

# Результаты сборки

[ Дд ] ebug /
[ Рр ] освободить /
х64 /
[ Бб ] в /
[ Оо ] бж /

# Результаты теста MSTest
[ Tt ] est [ Rr ] esult * /
[ Bb ] uild [ Ll ] og. *

* _IC
* _п.с.
* _i.h
* .ilk
* .мета
* .obj
* .pch
* .pdb
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* .бревно
* .vspscc
* .vssscc
.сборки
* .пидб
* .бревно
* .svclog
* .scc

# Файлы кэша Visual C++
ипч /
* .aps
* .ncb
* .opensdf
* .sdf
* .кэш-файл

# Профилировщик Visual Studio
* .псесс
* .vsp
* .vspx

# Набор инструментов для автоматизации наведения
* .gpState

# ReSharper — это надстройка для кодирования .NET.
_РеШарпер * /
* . [ Рр ] е [ Сс ] арфист
* .DotSettings.user

# Каталог Click-Once
опубликовать /

# Опубликовать веб-вывод
* .Опубликовать.xml
* .pubxml
* .azurePubxml

# Каталог пакетов NuGet
# # TODO: Если у вас включено восстановление пакетов NuGet, раскомментируйте следующую строку
пакеты /
# # TODO: Если используемый вами инструмент требует repositories.config, также раскомментируйте следующую строку
! пакеты / репозитории.config

# Выходные данные сборки Windows Azure
csx /
* .build.csdef

# Каталог пакетов приложений Магазина Windows
Пакеты приложений /

# Другие
sql /
* .Кэш
КлиентБин /
[ Ss ] стиль [ Cc ] соч. *
! [ Ss ] тип [ Cc ] op.targets
~$ *
* ~
* .dbmdl
* . [ Pp ] ublish.xml

* .настройки публикации

# Проекты RIA/Silverlight
Сгенерированный_код /

# Резервное копирование и создание отчетов о преобразовании старого файла проекта в новый
# Версия Visual Studio. Резервные файлы не нужны, так как у нас есть git ;-)
_UpgradeReport_Files /
Резервное копирование * /
Журнал обновления * .XML
Обновление журнала * .htm

# Файлы SQL-сервера
Данные_приложения / * .mdf
Данные_приложения / * .ldf

# =========================
# Окна мусор
# =========================

# Кэширование файлов образов Windows
Большие пальцы.db
ehthumbs.db

# Файл конфигурации папки
Рабочий стол.ini

# Корзина используется в общих папках
$RECYCLE.BIN /

# Файлы хранилища службы рабочего стола Mac
.DS_Store

_NCrunch *